* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family1: "Times New Roman";
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    top: 0vh;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    flex: 1;
}

/* Global Classes */
.push:active {
    transition: 0.1s;
    filter: brightness(0.9);
}

.push:hover {
    cursor: pointer;
}

/* Header Content */

.header-container {
    background-color: #D9E4F4;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #363636;
    outline: 1vh black;
    transition: 0.25s ease;
}

.header-right { /*Header right side*/
    margin-left:50vw;
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

.logo-container {
    height: 4.25vh;
    margin-top: 0.75vh; /*fix when placing actual logo. svgs are weird (that or im stupid)*/
    margin-right: 0.75vw;
}

.header-menu { /*Header left side*/
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5vw;
}

.menu {
    width: 4vw;
    margin-top: 0.75vh;
    line-height: 3.5vh;
    height: 3.5vh;
    text-align: center;
    user-select: none;
    font-size: 1.7vh;
    border-radius: 1vh;
    transition: backgroundColor 0.1s;
    background-color: transparent;
    border: none;
}

.menu:hover {
    background-color: #AABEDB;
}    

.header-submenu{
    position: absolute;
    left: 6.5vw;
    top:4vh;
    display: flex;
}
.submenu{
    width: 14vw;
    margin-left: -6vw;
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.463), 10px 10px 10px 0px rgba(0, 0, 0, 0.184);
    flex-wrap: wrap;
    border-radius: 0vh 1vh 1vh 1vh;
    line-height: 4vh;
    font-size: 1.7vh;
    font-weight: 500;
}

.submenu-option {
    display: flex;
    cursor: pointer;
}

.submenu-option:first-child {
    border-radius: 0vh 1vh 0vh 0vh;
}

.submenu-option:last-child {
    border-radius: 0vh 0vh 1vh 1vh;

}

.submenu-option:hover {
    background-color: rgb(228, 228, 228);
}

.submenu-option i {
    flex-wrap: wrap;
    width: 2vw;
    font-size: 2vh;
    height: 4vh;
    text-align: center;
    line-height: 4vh;
}

.submenu-option p1 {
    flex-wrap: wrap;
    width: 8vw;
} 

.submenu-option p2 {
    width: 3vw;
    float: right;
    text-align: right;
    opacity: 0.3;
    font-size: 1.3vh;
    font-weight: 700;
} 

/* End Header Content */

.idea-card {
    fill: rgb(249, 252, 252);         
    stroke: #ababab;          
    stroke-width: 1.5;          
    rx: 5px;            
    transition: fill 0.2s ease-out;
}

.idea-card:hover {
    fill: rgb(233, 243, 243);  
}

.idea-card:active {
    fill: rgb(255, 255, 255);  
    opacity: 0.85;
}

.group-element {
    transition: 0.5s ease-in;
}

.idea-card-title {
    font-size: 16px;
    font-weight: bold;
    fill: #333;              
    padding: 10px;
    dominant-baseline: hanging;
}

.idea-card-description {
    font-size: 14px;
    fill: #555;
    padding: 4px;
}

.idea-card-resize {
    fill: grey;              
    cursor: nwse-resize;       
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    min-width: 80px;
    background-color: rgb(230, 237, 245);
    color: white;
    padding: .7em;
    border-right: solid rgb(176, 184, 195) 5px;
    height: 100%; 
    position: relative;
    flex-wrap: nowrap;
}

.sidebar-header {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.arrow-filter-container, .color-filter-container {
    margin: 0 0 0 5px;
    padding: 1px;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 10px;
    transition: 0.3s ease-out;    
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.arrow-filter-container ion-icon {
    font-size: 18px;
    color: black;
    transform: rotateZ(-45deg);
}

.color-filter-icon {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    translate: scale(140%);
    margin: 3px;
}

.color-filter-border {
    display: flex;
    width: 18px;
    height: 18px;
    border: solid black 1px;
    border-radius: 3px;
    transform: scale(70%);
    justify-content: center;
    align-items: center;
}

.arrow-filter-container:hover, .color-filter-container:hover {
    background-color: rgb(255, 255, 255);
}

.sidebar-container h1 {
    color: rgb(33, 33, 33);
    font-size: 15px;
    text-align: center;
}

.sidebar-container hr {
    width: 100%;
    height: 4px;
    background-color: rgb(176, 184, 195);
    border-radius: 10%;
    margin: 5px 0 0 0;
}

.group-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    margin: none;
    padding: 3px 3px 3px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    height: 80vh; 
}

.group-element-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
    max-height: 40px;
    margin: 3px 5px; 
    padding: 10px;
    flex: 1; 
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    transition: margin .5s ease-out;
}

.sidebar-container::-webkit-scrollbar {
    display: none; 
}

.group-element-container .element-icon {
    margin-right: 10px;
    flex: none;
    width: 25px;
    height: 25px;
    border: solid black 2px;
    background-color: red;
    border-radius: 35%;
    transition: transform .5s ease-out;
}

.group-element-container:hover .element-icon {
    transform: rotateZ(45deg) scale(105%);
}

.group-element-container:hover {
    background-color: rgb(255, 255, 255);
    margin: 8px 5px;
}

.group-element-container .element-title {
    margin: 0;
    text-align: left;
    font-size: 1vw;
}

.group-element-container ion-icon {
    color: black;
    font-size: 20px;
    opacity: 0;
    margin-left: auto;
    transition: .25s ease-out;
}

.group-element-container ion-icon:hover {
    transform: scale(125%);
    color: red;
}

.group-element-container:hover ion-icon {
    opacity: 1;
}

.minimize-icon-container {
    position: absolute; 
    height: 60px; 
    width: 12px; 
    top: 50%;
    right: -12px; 
    transform: translateY(-50%);
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer; 
    background-color: rgb(176, 184, 195);
    border-radius: 15px;
    max-height: 90px; 
    max-width: 25px;
    overflow: hidden; 
    transition: .2s ease-out;
}

.minimize-icon-container:hover {
    height: 90px;
}

.minimize-icon-container ion-icon {
    font-size: 100px;
    color: black;
    opacity: 0.3;
    transition: 0.4s ease-out;
}

.minimize-icon-container:hover ion-icon {
    font-size: 80px;
    opacity: 1;
}

ion-icon {
    transform: rotateZ(0deg);
}

.element-container {
    flex: 1;
    padding: 1em;
    background-color: #f4f4f4;
}

/* end sidebar styling */

/* start stylebar styling */

.style-active {
    background-color: #ced6d7;
    filter: brightness(0.9);
    cursor: default;
}

.stylebar-container {
    position: absolute;
    border-radius: 1.5vh;
    right: 0.5vw;
    margin-top: 1vh;
    height: 30vh;
    width: 2.5vw;
    background-color: #F1FBFD;
    box-shadow: -0.3vw 1vh 1vh rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content:center;
    flex-direction: column;
    user-select: none;
    font-family: var(--font-family1);
    font-size: 2.4vh;
}

.font-color {
    height: 1.9vw;
    margin-left: .3vw;
    width: 1.9vw;
    text-align: center;
    line-height: 1.4vw;
    margin-top: 0.5vh;
    border-radius: 1.25vh;
    outline: solid 0.2vh red;
    border: solid 0.5vh #F1FBFD;
    cursor: pointer;
}

.font-color-picker{
    position: absolute;
    right:3vw;
}

.font-size{
    margin-top: 0.3vh;
    font-size: 2.4vh;
    height: 1.9vw;
    margin-left: .3vw;
    width: 1.9vw;   
    border: none;
    font-family: var(--font-family1);
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border-radius: 1.25vh;

}
.font-size:focus{
    outline: none;
}

.font-family{
    height: 1.9vw;
    margin-left: .3vw;
    width: 1.9vw;
    text-align: center;
    line-height: 1.9vw;
    margin-top: 0.5vh;
    border-radius: 1.25vh;
    cursor: pointer;
}

.font-bold{
    height: 1.9vw;
    margin-left: .3vw;
    width: 1.9vw;
    text-align: center;
    line-height: 1.9vw;
    margin-top: 0.5vh;
    border-radius: 1.25vh;
    cursor: pointer;
    font-weight: 1000;
}

.font-italics{
    height: 1.9vw;
    margin-left: .3vw;
    width: 1.9vw;
    text-align: center;
    line-height: 1.9vw;
    margin-top: 0.5vh;
    border-radius: 1.25vh;
    cursor: pointer;
    font-style: italic;
}

.font-underline{
    height: 1.9vw;
    margin-left: .3vw;
    width: 1.9vw;
    text-align: center;
    line-height: 1.9vw;
    margin-top: 0.5vh;
    border-radius: 1.25vh;
    cursor: pointer;
    text-decoration: underline;
}

.font-strikethrough{
    height: 1.9vw;
    margin-left: .3vw;
    width: 1.9vw;
    text-align: center;
    line-height: 1.9vw;
    margin-top: 0.5vh;
    border-radius: 1.25vh;
    cursor: pointer;
    text-decoration:line-through;
}

.font-family:hover{
    background-color: #ced6d7;
}
.font-strikethrough:hover{
    background-color: #ced6d7;
}
.font-underline:hover{
    background-color: #ced6d7;
}
.font-bold:hover{
    background-color: #ced6d7;
}
.font-italics:hover{
    background-color: #ced6d7;
}
.font-size:hover{
    background-color: #ced6d7;
}

.stylebar-container2 {
    position: absolute;
    top:35vh;
    height: 50px;
    margin: 15px 10px;
    right: -0.2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.stylebar-container2 div {
    margin: .5vw;
    width: 25px;
    height: 25px;
    flex: none;
    position: relative;
}

.color-picker-visual{
    height:1vw;
    width: 1vw;
    background-color: red;
    outline: solid 0.3vh black;
    border-radius: 0.8vh;
    box-shadow: -0.3vw 1vh 1vh rgba(0, 0, 0, 0.5);
}

.stylebar-container2 div ion-icon {
    color: black;
    font-size: 1.6vw;
    padding: 5px;
    margin: auto;
    border-radius: 50%;
    border: solid rgb(58, 58, 58) 2.5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-out;
}

.stylebar-container2 .color-picker ion-icon {
    background: red;
}

.stylebar-container2 .text-editor ion-icon {
    background: linear-gradient(rgb(167, 167, 167) 40%, white);
}

.stylebar-container2 div:hover ion-icon {
    transform: scale(110%);
    transform: rotateZ(-15deg);
    background: white;
}

.stylebar-container2 div:first-child {
    margin-left: 0; 
}

.dropdown-menu {
    display: none;
    position: absolute; 
    top: 34px; 
    left: -50px;
    background: white; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
    list-style-type: none;
}

.color-picker:hover .dropdown-menu,
.dropdown-menu:hover {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    gap: 5px; 
}

.text-editor:hover .dropdown-menu,
.dropdown-menu:hover {
    display: grid; 
    gap: 5px; 
}

.dropdown-item {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    border: solid rgb(71, 71, 71) 2.5px;
    cursor: pointer; 
    transition: transform 0.3s; 
}


footer {
    background-color: #ccc;
    text-align: center;
    padding: 1em;
}

.add-circle-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .15s;
    font-size: 5vh;
    color: white;
    background-color: #80A1D1;
    user-select: none;
}

.add-circle-container:hover {
    transform: scale(115%);
    background-color: #6f8ab4;
}

.add-circle-container:active {
    transform: scale(100%);
    background-color: #546888;
}



